<div class="container">
  <header class="app-header">
    <h1>Gestión de Cursos</h1>
  </header>
  <button class="btn-agregar" (click)="openModal(false)">Agregar Curso</button>
  
  <table class="usuarios-table">
    <thead>
      <tr>
        <th>Nombre del Curso</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <td>{{ curso.nombre }}</td>
        <td>
          <button class="btn btn-warning" (click)="editarCurso(curso)">Editar</button>
          <button class="btn btn-danger" (click)="eliminarCurso(curso.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <form #cursoForm="ngForm" (ngSubmit)="crearCurso(cursoForm)" class="form-container">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="selectedCurso.nombre" required>
          <div *ngIf="cursoForm.submitted && !isNombreUnique(selectedCurso.nombre)" class="error-message">
            El nombre del curso ya está registrado.
          </div>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Crear' }}</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
