 <!-- <div>

  <h2>Login form</h2>

  <a href="{{url}}" >Sign in with Google</a>

</div>  -->




<div class="app-container">
  <header class="app-header">
    <h1>MATRICULAS4FUN</h1>
  </header>
  <div class="app-main">
    <div class="login-container">
      <h2>Inicio de Sesión</h2>
      <a href="{{url}}" class="google-btn">
        <i class="fab fa-google"></i> Sign in with Google
      </a>
    </div>
  </div>
  <footer class="app-footer">
    <p>&copy; 2024 Grupo 1  Todos los derechos reservados.</p>
  </footer>
</div>